/* General settings */
:root{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    background-color: hsla(341, 0%, 15%, 1);
    color: hsla(341, 0%, 68%, 1);
    margin: 0;
    padding: 0;
    display: flex;
}


/* Scrollbar design */
body::-webkit-scrollbar{
    width: 0.40rem
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: hsla(341, 0%, 68%, 1);
}


/* Navbar design */
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}
h2{
    margin-left: 0.5rem;
}
h2 + span{
    margin: 4rem 0.5rem 1rem 0.5rem;
}
.navbox{
    margin: 1rem 0.5rem 0 0.5rem;
    border: 0px hsla(202, 8%, 43%, 1) solid;
    padding: 0.5rem 0;
    background-color: hsla(202, 8%, 22%, 1);
    width: 180%;
}
span + div{
    margin-top: 0.5rem;
}
div > input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
label{
    cursor: pointer;
}


/* Images' design */
main{
    margin-left: 9.2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.hidden{
    display: none;
}