*{
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
    color: lightgray;
    display: flex;
}

nav{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}